. ../sukkolib.rc

BRIEF='A D-Bus service that provides location information'
PROJECT=http://www.freedesktop.org/wiki/Software/GeoClue/
RELEASE=0.12.99
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

MAJORV=`{echo $RELEASE | sed 's:\.[0-9]$::'}
SOURCE=(
	http://people.freedesktop.org/~hadess/$NAME-$RELEASE.tar.gz
)
