. ../sukkolib.rc

BRIEF='Software which supports the UPnP Internet Gateway Device (IGD) specifications'
PROJECT=http://miniupnp.free.fr/
RELEASE=2.2.8
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

SOURCE=(
	http://miniupnp.free.fr/files/$NAME-$RELEASE.tar.gz
)
