. ../sukkolib.rc

BRIEF='MATE Desktop Environment'
PROJECT=http://mate-desktop.org
RELEASE=1.12.1
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

MAJORV=`{echo $RELEASE | sed 's:\.[0-9]$::'}
SOURCE=(
	http://pub.mate-desktop.org/releases/$MAJORV/$NAME-$RELEASE.tar.xz
)

#fn patches () {
#	# For some reason these makes compilation fail, so remove altogheter
#	sed -i '/g_assert_nonnull/d' src/daemon/daemon.c || exit $status
#}

CONFOPTS=(
	$DEFAULT_CONFOPTS
	--disable-schemas-compile
#	--with-gtk'='3.0
)
