. ../sukkolib.rc

BRIEF='A utility to read and manipulate raw images from digital cameras'
PROJECT=http://ufraw.sourceforge.net
RELEASE=0.17
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

SOURCE=(
	$SF/$NAME/$NAME-$RELEASE.tar.gz
)
