. ../sukkolib.rc

BRIEF='A fast, simple and lightweight WSGI micro web-framework for Python'
PROJECT=http://bottlepy.org
RELEASE=0.12.13
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
BUILDDIR=bottle-$RELEASE

SOURCE=(
	https://github.com/bottlepy/bottle/archive/$RELEASE.tar.gz	
)

DOCS=(
	$DEFAULT_DOCS
	LICENSE
	README.rst 
)
