. ../sukkolib.rc

BRIEF='MATE Desktop Environment'
PROJECT=http://mate-desktop.org
RELEASE=1.9.1
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
BUILDDIR=caja-extensions-$RELEASE

MAJORV=`{echo $RELEASE | sed -r 's:\.[0-9]+$::'}
SOURCE=(
	http://pub.mate-desktop.org/releases/$MAJORV/caja-extensions-$RELEASE.tar.xz
)
