. ../sukkolib.rc

BRIEF='A collection of powerful tools for manipulating EPROM load files'
PROJECT=http://srecord.sourceforge.net/
RELEASE=1.65
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
BUILDDIR=$NAME-$RELEASE.0-Source

SOURCE=(
	https://sourceforge.net/projects/srecord/files/$NAME/$RELEASE/$NAME-$RELEASE.0-Source.tar.gz
)

fn configure {
	cp etc/configure.ac .
	cp /usr/share/automake-*/config.sub .
	cp /usr/share/automake-*/config.guess .
	autoreconf -sfi

	std_configure
}

fn inst {
	std_inst

	mv $PKG/usr/share/man $PKG/usr
	rm -rf $PKG/usr/share
}

fn docinst {
	std_docinst

	mv $PKG/usr/share/doc/srecord/* $DOC
	rm -rf $PKG/usr/share/doc/srecord
}
