. ../sukkolib.rc

BRIEF='A collection of powerful tools for manipulating EPROM load files'
PROJECT=http://srecord.sourceforge.net/
RELEASE=1.64
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

SOURCE=(
	$SF/$NAME/$RELEASE/$NAME-$RELEASE.tar.gz
)

PATCHES=(
	srecord-1.57-libtool.patch
)

fn configure {
	cp etc/configure.ac .
	cp /usr/share/automake-*/config.sub .
	cp /usr/share/automake-*/config.guess .
	autoreconf -sfi

	std_configure
}

fn docinst {
	std_docinst

	mv $PKG/usr/share/doc/srecord/* $DOC
	rm -rf $PKG/usr/share/doc/srecord
}
