. ../sukkolib.rc

BRIEF='ASCII transliterations of Unicode text'
PROJECT=https://pypi.org/project/Unidecode/
RELEASE=0.04.21
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
BUILDDIR=Unidecode-$RELEASE

SOURCE=(
	https://files.pythonhosted.org/packages/0e/26/6a4295c494e381d56bba986893382b5dd5e82e2643fc72e4e49b6c99ce15/Unidecode-$RELEASE.tar.gz
)
