. ../sukkolib.rc

BRIEF='ASCII transliterations of Unicode text'
PROJECT=https://pypi.org/project/Unidecode/
RELEASE=1.0.23
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
BUILDDIR=Unidecode-$RELEASE

SOURCE=(
	https://files.pythonhosted.org/packages/9b/d8/c1b658ed7ff6e63a745eda483d7d917eb63a79c59fcb422469b85ff47e94/Unidecode-$RELEASE.tar.gz
)
