. ../sukkolib.rc

BRIEF='A Python module to handle audio metadata'
PROJECT=https://mutagen.readthedocs.org/
RELEASE=1.45.1
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
BUILDDIR=mutagen-$RELEASE

SOURCE=(
	https://github.com/quodlibet/mutagen/releases/download/release-$RELEASE/mutagen-$RELEASE.tar.gz
)

fn inst {
	std_inst
	mv $PKG/usr/share/man $PKG/usr
	rm -rf $PKG/usr/share
}
