. ../sukkolib.rc

BRIEF='A clean, friendly gtk-based serial terminal'
PROJECT=https://wiki.gnome.org/moserial
RELEASE=3.0.9
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

SOURCE=(
	http://ftp.gnome.org/pub/GNOME/sources/moserial/3.0/$NAME-$RELEASE.tar.xz
)

CONFOPTS=(
	$DEFAULT_CONFOPTS
	--disable-scrollkeeper
)
