. ../sukkolib.rc

BRIEF='A VNC server for real X displays'
PROJECT=http://www.karlrunge.com/x11vnc/
RELEASE=0.9.9
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

SOURCE=(
	$SF/libvncserver/files/$NAME/$RELEASE/$NAME-$RELEASE.tar.gz
)
