. ../sukkolib.rc

BRIEF='A C++ interface around the dcraw binary program used to decode RAW picture files'
PROJECT=http://www.kipi-plugins.org
RELEASE=0.1.2
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

SOURCE=(
	$SF/kipi/$NAME-$RELEASE.tar.bz2
)
