. ../sukkolib.rc

BRIEF='A fully featured GTK+ based waveform viewer'
PROJECT=http://gtkwave.sourceforge.net
RELEASE=3.3.97
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

SOURCE=(
	http://gtkwave.sourceforge.net/$NAME-$RELEASE.tar.gz
)

CONFOPTS=(
	$DEFAULT_CONFOPTS
	--disable-mime-update
)
