. ../sukkolib.rc

BRIEF='A Gtk+ based joystick test application'
PROJECT=https://gitlab.com/jstest-gtk/jstest-gtk
RELEASE=20191217
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
BUILDDIR=jstest-gtk-master

fn myfetch () {
	wget https://gitlab.com/jstest-gtk/jstest-gtk/-/archive/master/jstest-gtk-master.tar.bz2 -O $NAME-master-$RELEASE.tar.bz2
}

SOURCE=(
	MYFETCH:$NAME-master-$RELEASE.tar.bz2
)

DOCS=(
	$DEFAULT_DOCS
	README.md
)

fn inst {
	std_inst
	mv $PKG/usr/share/man $PKG/usr || exit $status
}
