. ../sukkolib.rc

BRIEF='A Free/Open Source Gerber Viewer'
PROJECT=http://gerbv.geda-project.org/
RELEASE=2.7.0
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

SOURCE=(
	https://sourceforge.net/projects/gerbv/files/gerbv/$NAME-$RELEASE/$NAME-$RELEASE.tar.gz
)

PATCHES=(
	gerbv-2.7.0-fno-common-gcc10.patch
)
