. ../sukkolib.rc

BRIEF='Component footprints for KiCad'
PROJECT=https://github.com/KiCad/kicad-library
RELEASE=5.0.1
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
OPT_NOSTRIP=1

SOURCE=(
	https://github.com/KiCad/$NAME/archive/$RELEASE.tar.gz
)

DOCS=(
	$DEFAULT_DOCS
	CONTRIBUTING.md
	LICENSE.md
	README.md
	TODO.md
)
