. ../sukkolib.rc

BRIEF='Terminal emulator widget for GTK+'
PROJECT=https://github.com/GNOME/vte
RELEASE=0.38.4
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
TNAME=vte
BUILDDIR=$TNAME-$RELEASE

MAJORV=`{echo $RELEASE | sed 's:\.[0-9]$::'}
SOURCE=(
	http://ftp.gnome.org/pub/GNOME/sources/$TNAME/$MAJORV/$TNAME-$RELEASE.tar.xz
)

CONFOPTS=(
	$DEFAULT_CONFOPTS
	--enable-gnome-pty-helper
	--with-gtk'='3.0
	--with-default-emulation'='xterm
)
