. ../sukkolib.rc

BRIEF='The fundamental package needed for scientific computing with Python'
PROJECT=http://numpy.scipy.org
RELEASE=1.11.2
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
BUILDDIR=numpy-$RELEASE
DOCS=(
	$DEFAULT_DOCS
	COMPATIBILITY
	DEV_README.txt
	INSTALL.txt
	LICENSE.txt
	README.txt
	THANKS.txt
)

SOURCE=(
	$SF/numpy/numpy-$RELEASE.tar.gz
)
