. ../sukkolib.rc

BRIEF='An open-source JPEG 2000 library'
PROJECT=http://code.google.com/p/openjpeg/
RELEASE=2.1.0
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
#BUILDDIR=OpenJPEG_v$TRELEASE

SOURCE=(
	$SF/$NAME/$NAME-$RELEASE.tar.gz
)

CONFOPTS=(
	$DEFAULT_CONFOPTS_CMAKE
	-D BUILD_SHARED_LIBS'='ON
	-D BUILD_DOCUMENTATION'='ON
)
