. ../sukkolib.rc

BRIEF='Lightweight video thumbnailer that can be used by file managers'
PROJECT=https://code.google.com/p/ffmpegthumbnailer/
RELEASE=2.0.9
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

# Need to download manually from homepage/Google Drive, from 2.0.9
SOURCE=(
	http://x/$NAME-$RELEASE.tar.gz
)

CONFOPTS=(
	$DEFAULT_CONFOPTS
	--enable-png
	--enable-jpeg
	--enable-gio
	--enable-thumbnailer
)
