. ../sukkolib.rc

BRIEF='Lightweight video thumbnailer that can be used by file managers'
PROJECT=https://code.google.com/p/ffmpegthumbnailer/
RELEASE=2.2.0
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

# Need to download manually from homepage/Google Drive, from 2.0.9
SOURCE=(
	https://github.com/dirkvdb/ffmpegthumbnailer/releases/download/$RELEASE/$NAME-$RELEASE.tar.bz2
)

CONFOPTS=(
	$DEFAULT_CONFOPTS_CMAKE
	-DCMAKE_BUILD_TYPE'='Release
	-DENABLE_GIO'='ON
	-DENABLE_THUMBNAILER'='ON
)
