. ../sukkolib.rc

BRIEF='A lightweight GTK+ based image viewer'
PROJECT=http://geeqie.sourceforge.net
RELEASE=1.1
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

CONFOPTS=(
        $DEFAULT_CONFOPTS
        --with-readmedir'='/usr/doc/$NAME-$RELEASE
)

SOURCE=(
	$SF/$NAME/$NAME-$RELEASE.tar.gz
)

PATCHES=(
	geeqie-1.0-fix_fullscreen.patch
	geeqie-1.1-fix_comment_update.patch
	geeqie-1.0-automake-1.11.patch
)

fn configure {
	# Install plugins somewhere other than /lib, in particular on 64-bit systems
	sed -i s:/lib/:/libexec/:g configure.in || exit 106
	autoreconf -sfi
	std_configure
}
