. ../sukkolib.rc

BRIEF='A gobject-based plugins engine'
PROJECT=https://developer.gnome.org/libpeas/
RELEASE=1.26.0
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
BUILDSYSTEM=autotools

MAJORV=`{echo $RELEASE | sed 's:\.[0-9]$::'}
SOURCE=(
	http://ftp.gnome.org/pub/GNOME/sources/libpeas/$MAJORV/$NAME-$RELEASE.tar.xz
)

fn configure {
	meson --prefix'='/usr --libdir'='$LIBDIR --sysconfdir'='/etc --mandir'='/usr/man -Ddbus-srv-user'='geoclue build
}

fn compile {
	ninja -C build
}

fn inst {
	DESTDIR=$PKG ninja -C build install
}

