. ../sukkolib.rc

BRIEF='G-code generator for 3D printers (Binary version)'
PROJECT=https://www.prusa3d.com/slic3r-prusa-edition/
TRELEASE=1.42.0-beta2
RELTIMESTAMP=201904140843
RELEASE=1.42.0beta2
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
BUILDDIR=Slic3rPE-$TRELEASE+linux64-full-$RELTIMESTAMP

SOURCE=(
	https://github.com/prusa3d/Slic3r/releases/download/version_$TRELEASE/Slic3rPE-$TRELEASE+linux64-full-$RELTIMESTAMP.tar.bz2
)

fn build {
	setup

	# Fix permissions
	find . -type f -not -executable -exec chmod 644 '{}' ';'
	find . -type f -executable -exec chmod 755 '{}' ';'
	find . -type d -exec chmod 755 '{}' ';'

	mkdir -p $PKG/opt/slic3r-prusa-$RELEASE
	cp -a * $PKG/opt/slic3r-prusa-$RELEASE

	mkdir -p $PKG/usr/bin
	sed s/@VERSION@/$RELEASE/ $CWD/slic3r-prusa > $PKG/usr/bin/slic3r-prusa
	chmod 755 $PKG/usr/bin/slic3r-prusa

	# Icon
	sed s/@VERSION@/$RELEASE/ $CWD/slic3r-prusa-template.desktop > slic3r-prusa.desktop
	ln -s resources/icons/Slic3r.png slic3r-prusa.png
	insticon slic3r-prusa.desktop slic3r-prusa.png
}
