. ../sukkolib.rc

BRIEF='all-platform eMule P2P Client'
PROJECT=http://amule.org
RELEASE=2.3.3
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
TNAME=aMule
BUILDDIR=$TNAME-$RELEASE

SOURCE=(
	https://sourceforge.net/projects/amule/files/aMule/$RELEASE/$TNAME-$RELEASE.tar.xz
)

CONFOPTS=(
	$DEFAULT_CONFOPTS_CMAKE
	-DBUILD_AMULECMD'='ON
	-DBUILD_DAEMON'='ON
	-DBUILD_REMOTEGUI'='ON
	-DBUILD_WEBSERVER'='ON
	-DBUILD_TESTING'='OFF
	-DENABLE_MMAP'='ON
	-DCMAKE_INSTALL_MANDIR'='/usr/man

	# Does not seem to work
#	-DCMAKE_INSTALL_DOCDIR'='$DOC
)

PATCHES=(
	amule-fix-exception.patch
)

fn docinst {
	std_docinst

	mv $PKG/usr/share/doc/* $DOC
	rm -rf $PKG/usr/share/doc
}
