. ../sukkolib.rc

BRIEF='Open Source toolpath generator for 3D printers (Binary version)'
PROJECT=https://slic3r.org/
RELEASE=1.3.0
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
BUILDDIR=Slic3r

SOURCE=(
	https://dl.slic3r.org/linux/slic3r-$RELEASE-linux-x64.tar.bz2
)

fn build {
	setup

	mkdir -p $PKG/opt/slic3r-$RELEASE
	cp -a * $PKG/opt/slic3r-$RELEASE

	mkdir -p $PKG/usr/bin
	sed s/@VERSION@/$RELEASE/ $CWD/slic3r > $PKG/usr/bin/slic3r
	chmod 755 $PKG/usr/bin/slic3r

	# Icon
	sed s/@VERSION@/$RELEASE/ $CWD/slic3r-template.desktop > slic3r.desktop
        ln -s var/Slic3r_128px.png slic3r.png
        insticon slic3r.desktop slic3r.png
}
