. ../sukkolib.rc

BRIEF='Parse a so called cue sheet'
PROJECT=http://libcue.sourceforge.net
RELEASE=1.4.0
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

SOURCE=(
	https://github.com/lipnitsk/libcue/releases/download/v$RELEASE/$NAME-$RELEASE.tar.bz2
)
