. ../sukkolib.rc

BRIEF='A blending of the wxWidgets C++ class library with the Python programming language'
PROJECT=https://wxpython.org/
RELEASE=3.0.2.0
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
TNAME=wxPython
BUILDDIR=$TNAME-src-$RELEASE
BUILDSYSTEM=python

SOURCE=(
	http://downloads.sourceforge.net/project/$NAME/$TNAME/$RELEASE/$TNAME-src-$RELEASE.tar.bz2
)

fn configure {
	cd wxPython
	std_configure
}

fn compile {
	python setup.py build WX_CONFIG'='/usr/bin/wx-config-3 || exit 101
}

fn inst {
	python setup.py install WX_CONFIG'='/usr/bin/wx-config-3 --root $PKG || exit 102
}
