. ../sukkolib.rc

BRIEF='A tool designed for the extraction of annotations from audio signals'
PROJECT=http://aubio.org
RELEASE=0.4.2
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

SOURCE=(
	http://aubio.org/pub/$NAME-$RELEASE.tar.bz2
)

fn configure {
	# Avoid conflict with internal variable $DOC
	_DOC=$DOC
	DOC=()

	# Avoid a link error
	LDFLAGS='-lm'
	std_configure
}

fn docinst {
	DOC=$_DOC
	_DOC=()

	std_docinst
	mv $PKG/usr/share/doc/libaubio-doc/html/ $PKG/usr/doc
	rmdir $PKG/usr/share/doc/libaubio-doc
	rmdir $PKG/usr/share/doc	
	rmdir $PKG/usr/share
}

