. ../sukkolib.rc

BRIEF='A CD-ROM image access library whose aim is to provide uniform access to the data stored in various image formats'
PROJECT=https://cdemu.sourceforge.io/about/libmirage/
RELEASE=3.2.9
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

SOURCE=(
	http://downloads.sourceforge.net/cdemu/$NAME-$RELEASE.tar.xz
)
