. ../sukkolib.rc

BRIEF='The Python OpenGL Binding'
PROJECT=http://pyopengl.sourceforge.net/
RELEASE=3.1.0
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
BUILDDIR=PyOpenGL-$RELEASE

SOURCE=(
	https://files.pythonhosted.org/packages/9c/1d/4544708aaa89f26c97cc09450bb333a23724a320923e74d73e028b3560f9/PyOpenGL-$RELEASE.tar.gz
)
