. ../sukkolib.rc

BRIEF='A Free, Fast, and Small Automatic Formatter'
PROJECT=http://astyle.sourceforge.net/
RELEASE=3.1
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
BUILDDIR=$NAME

SOURCE=(
	$SF/$NAME/$NAME/astyle%20$RELEASE/$NAME'_'$RELEASE'_linux.tar.gz'
)

fn build {
	setup

	cd build/gcc
	sed -ri '/^SYSCONF_PATH=/ s:=.+:=$(prefix)/doc/'$NAME-$RELEASE':' Makefile || exit 101 
	std_compile

	make shared
	make install prefix'='$PKG/usr


	mkdir -p $PKG/$LIBDIR
	cp bin/libastyle*.so.* $PKG/$LIBDIR || exit 102
}
