. ../sukkolib.rc

BRIEF='A lightweight C library for RDF syntax'
PROJECT=http://drobilla.net/software/serd/
RELEASE=0.22.0
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
BUILDSYSTEM=waf

SOURCE=(
	http://download.drobilla.net/$NAME-$RELEASE.tar.bz2
)

DOCS=(
	$DEFAULT_DOCS
	PACKAGING
)
