. ../sukkolib.rc

BRIEF='A Cross Platform and Open Source Electronics Design Automation Suite'
PROJECT=http://kicad-pcb.org
RELEASE=4.0.4
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

LIBCONTEXT_COMMIT=3d92a1a50f4749b5a92131a957c9615473be85b4

MAJORV=`{echo $RELEASE | sed 's:\.[0-9]$::'}
SOURCE=(
	https://launchpad.net/kicad/$MAJORV/$RELEASE/+download/$NAME-$RELEASE.tar.xz
	https://github.com/twlostow/libcontext/archive/$LIBCONTEXT_COMMIT.tar.gz
)

CONFOPTS=(
	$DEFAULT_CONFOPTS_CMAKE
	-DCMAKE_BUILD_TYPE'='Release
	-DKICAD_REPO_NAME'='stable -DKICAD_BUILD_VERSION'='$RELEASE
	-DKICAD_SCRIPTING'='ON -DKICAD_SCRIPTING_MODULES'='ON -DKICAD_SCRIPTING_WXPYTHON'='ON
	-DwxWidgets_CONFIG_EXECUTABLE'='/usr/bin/wx-config-3
	-DKICAD_SKIP_BOOST'='ON
	-DKICAD_DOCS'='/usr/doc/$NAME-$RELEASE
)

# Thanks a lot to the gentoo folks!
PATCHES=(
	kicad-4.0.4-boost-context.patch
)

fn patches {
	mkdir -p common/system || exit $status
	mkdir -p include/system || exit $status
	cp $SRC/libcontext-$LIBCONTEXT_COMMIT/libcontext.cpp common/system/libcontext.cpp || exit $status
	cp $SRC/libcontext-$LIBCONTEXT_COMMIT/libcontext.h include/system/libcontext.h || exit $status

	# This will complete the patch
	std_patches
}
