. ../sukkolib.rc

BRIEF='A Cross Platform and Open Source Electronics Design Automation Suite'
PROJECT=http://kicad-pcb.org
RELEASE=5.1.9
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
BUILDDIR=kicad-$RELEASE-f607e913d5e604e2a620a0f10cf38933156be63b

fn myfetch () {
#	wget https://github.com/KiCad/kicad-source-mirror/archive/$RELEASE.tar.gz -O $NAME-$RELEASE.tar.gz
	wget https://gitlab.com/kicad/code/kicad/-/archive/$RELEASE/$RELEASE.tar.bz2 -O $NAME-$RELEASE.tar.bz2
}

SOURCE=(
	MYFETCH:$NAME-$RELEASE.tar.bz2
)

CONFOPTS=(
	$DEFAULT_CONFOPTS_CMAKE
	-DCMAKE_BUILD_TYPE'='Release
	-DKICAD_SCRIPTING'='ON
	-DKICAD_SCRIPTING_MODULES'='ON
	-DKICAD_SCRIPTING_WXPYTHON'='ON
	-DKICAD_SCRIPTING_WXPYTHON_PHOENIX'='ON
	-DKICAD_SCRIPTING_PYTHON3'='ON
	-DKICAD_SCRIPTING_ACTION_MENU'='ON
	-DwxWidgets_CONFIG_EXECUTABLE'='/usr/bin/wx-config-3
	-DKICAD_SKIP_BOOST'='ON
	-DKICAD_DOCS'='/usr/doc/$NAME-$RELEASE
)

fn patches () {
	sed -i '25 i #include <algorithm>' common/lib_tree_model.cpp || exit $status
}
