. ../sukkolib.rc

BRIEF='A simple GTK+ terminal used to communicate with a serial port'
PROJECT=https://github.com/Jeija/gtkterm
RELEASE=1.3.1
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
BUILDSYSTEM=autotools

fn myfetch () {
	wget https://github.com/Jeija/gtkterm/archive/refs/tags/$RELEASE.tar.gz -O $NAME-$RELEASE.tar.gz
}

SOURCE=(
	MYFETCH:$NAME-$RELEASE.tar.gz
)

fn configure {
	meson \
		--prefix /usr \
		--libdir $LIBDIR \
		--sysconfdir /etc \
		--localstatedir /var \
		--mandir /usr/man \
		--infodir'='/usr/info \
		build
}

fn compile {
	ninja -C build
}

fn inst {
	DESTDIR=$PKG ninja -C build install
}
