[Desktop Entry]
Name=gtkterm
Comment=A simple GTK+ terminal used to communicate with a serial port
Exec=gtkterm
#Icon=arduino
Categories=Development;Utility;
Version=0.99.7-rc1
Type=Application
Terminal=false
StartupNotify=true
