. ../sukkolib.rc

BRIEF='Open-Source Electronics Prototyping Platform'
PROJECT=http://arduino.cc
RELEASE=1.0.6
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
OPT_NOSTRIP=1

# Guess arch
switch (`{arch}) {
        case *64
                SUFFIX=linux64
        case *
                SUFFIX=linux32
}


SOURCE=(
	'http://arduino.cc/download.php?f=/'$NAME-$RELEASE-$SUFFIX.tgz
)

fn build () {
	setup

	mkdir $PKG/opt
	cp -a $SRC/$NAME-$RELEASE $PKG/opt || exit 201

	mkdir -p $PKG/usr/bin
	ln -s /opt/$NAME-$RELEASE/arduino $PKG/usr/bin

	ln -s /opt/$NAME-$RELEASE/reference $DOC

	ln -s reference/img/logo.png arduino.png
	insticon $CWD/arduino.desktop arduino.png
}
