. ../sukkolib.rc

BRIEF='Original 6502/65C02/65CE02 Assembler used by Commodore'
PROJECT=https://github.com/mist64/cbm6502asm
RELEASE=`{date +%Y%m%d}
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
BUILDDIR=cbm6502asm-main

fn myfetch () {
	wget https://github.com/mist64/cbm6502asm/archive/refs/heads/main.zip -O $NAME-$RELEASE.zip
}

SOURCE=(
	MYFETCH:$NAME-$RELEASE.zip
)

fn inst {
	mkdir -p $PKG/usr/bin
	cp build/asm $PKG/usr/bin/cbm6502asm
}
