BUILDSYSTEM=waf

. ../sukkolib.rc

BRIEF='A system for handling real-time, low latency audio (and MIDI)'
PROJECT=http://jackaudio.org
RELEASE=1.9.9.5
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
TNAME=jack
BUILDDIR=$TNAME-$RELEASE

SOURCE=(
	http://jackaudio.org/downloads/$TNAME-$RELEASE.tar.bz2
)

DOCS=(
	$DEFAULT_DOCS
	README_NETJACK2
)


# Replace --classic with --dbus for the DBUS version
# Also add --enable-pkg-config-dbus-service-dir in case
# --doxygen breaks the build!
CONFOPTS=(
	--prefix'='/usr
	--libdir'='$LIBDIR
	--mandir'='/usr/man/man1
	--classic
	--alsa
)

# Make readline found, sigh
LDFLAGS="-ltermcap"
