BUILDSYSTEM=waf

. ../sukkolib.rc

BRIEF='A system for handling real-time, low latency audio (and MIDI)'
PROJECT=http://jackaudio.org
RELEASE=1.9.12
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
TNAME=jack

SOURCE=(
	https://github.com/jackaudio/jack2/releases/download/v$RELEASE/$NAME-$RELEASE.tar.gz
)

DOCS=(
	$DEFAULT_DOCS
	README_NETJACK2
)


# Replace --classic with --dbus for the DBUS version
# Also add --enable-pkg-config-dbus-service-dir in case
# Doxygen generation breaks the build!
CONFOPTS=(
	--prefix'='/usr
	--libdir'='$LIBDIR
	--mandir'='/usr/man/man1
	--dbus
	--enable-pkg-config-dbus-service-dir
	--alsa
	--doxygen'='no
)
