. ../sukkolib.rc

BRIEF='Commodore 1541/1571 disk image nibbler'
PROJECT='https://c64preservation.com/dp.php?pg=nibtools'
RELEASE=687
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

# NOTE: The source package has to be created manually after checking out the SVN repository
# Please clean up the checkout directory manually
fn myfetch () {
	svn co https://c64preservation.com/svn/nibtools/trunk $NAME-$RELEASE || exit 101
	rev=`{svn st -v $NAME-$RELEASE/readme.txt | awk '{print $1}'}
	if (test $rev '!=' $RELEASE) {
		echo 'Release does not match:' $rev vs. $RELEASE
		exit 100
	}

	tar jcv --exclude .svn -f $NAME-$RELEASE.tar.bz2 $NAME-$RELEASE || exit 100
}

SOURCE=(
	MYFETCH:$NAME-$RELEASE.tar.bz2
)

fn build {
        setup

	make -j $NUMJOBS -f GNU/Makefile linux

	mkdir $PKG/usr/bin
	cp nibread nibwrite nibconv nibscan nibrepair nibsrqtest $PKG/usr/bin || exit 102

	cp readme.txt $DOC
}
