. ../sukkolib.rc

BRIEF='Misc plug-ins for the Advanced Linux Sound Architecture (ALSA)'
PROJECT=http://www.alsa-project.org
RELEASE=1.1.0
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

SOURCE=(
	ftp://ftp.alsa-project.org/pub/plugins/$NAME-$RELEASE.tar.bz2
)
