. ../sukkolib.rc

BRIEF='The binary I/O stream class library presents a platform-independent way to access binary data streams in C++'
PROJECT=https://adplug.github.io/libbinio/
RELEASE=1.5
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

SOURCE=(
	https://github.com/adplug/libbinio/releases/download/$NAME-$RELEASE/$NAME-$RELEASE.tar.bz2
)
