. ../sukkolib.rc

BRIEF='The schematic and 3D libraries supported by KiCad team'
PROJECT=https://kicad.github.io/symbols/
RELEASE=5.1.5
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

SOURCE=(
	https://github.com/KiCad/kicad-symbols/archive/$RELEASE.tar.gz
)
