. ../sukkolib.rc

BRIEF='YAML parser and emitter for Python'
PROJECT=https://pypi.org/project/PyYAML/
RELEASE=6.0
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
TNAME=PyYAML
BUILDDIR=PyYAML-$RELEASE

SOURCE=(
	MYFETCH:$NAME-$RELEASE.tar.gz
)

fn myfetch () {
	wget https://files.pythonhosted.org/packages/36/2b/61d51a2c4f25ef062ae3f74576b01638bebad5e045f747ff12643df63844/$TNAME-$RELEASE.tar.gz -O $NAME-$RELEASE.tar.gz
}
