. ../sukkolib.rc

# N.B.: This will need PICO_SDK_PATH to be set!

BRIEF='A tool for inspecting RP2040 binaries, and interacting with RP2040 devices'
PROJECT=https://github.com/raspberrypi/picotool
RELEASE=1.1.0
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

fn myfetch () {
        wget https://github.com/raspberrypi/picotool/archive/refs/tags/$RELEASE.tar.gz -O $NAME-$RELEASE.tar.gz
}

SOURCE=(
        MYFETCH:$NAME-$RELEASE.tar.gz
)
