. ../sukkolib.rc

BRIEF='MATE Desktop Environment'
PROJECT=http://mate-desktop.org
RELEASE=1.22.1
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
BUILDDIR=libmateweather-$RELEASE

MAJORV=`{echo $RELEASE | sed 's:\.[0-9]$::'}
SOURCE=(
	http://pub.mate-desktop.org/releases/$MAJORV/libmateweather-$RELEASE.tar.xz
)

CONFOPTS=(
	$DEFAULT_CONFOPTS
	--disable-schemas-compile
	--enable-locations-compression
)
