. ../sukkolib.rc

BRIEF='More than just another hex editor'
PROJECT=http://www.dettus.net/dhex/
RELEASE=0.69
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
BUILDDIR=$NAME'_'$RELEASE

SOURCE=(
	http://www.dettus.net/dhex/$NAME'_'$RELEASE.tar.gz
)

DOCS=(
	README.txt
)

fn inst {
	mkdir -p $PKG/usr/bin
	mkdir -p $PKG/usr/man/man1
	mkdir -p $PKG/usr/man/man5

	make install DESTDIR'='$PKG/usr
}
