. ../sukkolib.rc

BRIEF='A VNC viewer widget for GTK'
PROJECT=https://wiki.gnome.org/Projects/gtk-vnc
RELEASE=0.5.4
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

MAJORV=`{echo $RELEASE | sed 's:\.[0-9]$::'}
SOURCE=(
	https://download.gnome.org/sources/gtk-vnc/$MAJORV/$NAME-$RELEASE.tar.xz
)
