. ../sukkolib.rc

BRIEF='Gtk+ engine, written in C language, using cairo vectorial graphics library'
PROJECT=http://www.cimitan.com/murrine/engine
RELEASE=0.98.2
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
TNAME=murrine
BUILDDIR=$TNAME-$RELEASE

MAJORV=`{echo $RELEASE | sed 's:\.[0-9]$::'}
SOURCE=(
	http://ftp.acc.umu.se/pub/GNOME/sources/$TNAME/$MAJORV/$TNAME-$RELEASE.tar.xz
)

CONFOPTS=(
	$DEFAULT_CONFOPTS
	--enable-animation
)
