. ../sukkolib.rc

BRIEF='A POSIX-C implementation of the OAuth protocol'
PROJECT=https://sourceforge.net/projects/liboauth/
RELEASE=1.0.3
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

SOURCE=(
	$SF/$NAME/$NAME-$RELEASE.tar.gz
)

PATCHES=(
	openssl-1.1.0.patch
)
