. ../sukkolib.rc

BRIEF='Semantic version comparison for Python'
PROJECT=https://github.com/rbarrois/python-semanticversion/
RELEASE=2.6.0
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
BUILDDIR=python-semanticversion-$RELEASE

SOURCE=(
	https://github.com/rbarrois/python-semanticversion/archive/v$RELEASE.tar.gz
)

DOCS=(
	$DEFAULT_DOCS
	CREDITS
	ChangeLog
	LICENSE
	README.rst
)
