. ../sukkolib.rc

BRIEF='Python plotting package'
PROJECT=http://matplotlib.org/
RELEASE=2.2.4
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
BUILDDIR=matplotlib-$RELEASE

SOURCE=(
	https://github.com/matplotlib/matplotlib/archive/v$RELEASE.tar.gz
)
