. ../sukkolib.rc

BRIEF='MATE Desktop Environment'
PROJECT=http://mate-desktop.org
RELEASE=1.18.2
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
BUILDDIR=pluma-$RELEASE

MAJORV=`{echo $RELEASE | sed 's:\.[0-9]$::'}
SOURCE=(
	http://pub.mate-desktop.org/releases/$MAJORV/pluma-$RELEASE.tar.xz
)

CONFOPTS=(
	$DEFAULT_CONFOPTS
	--disable-schemas-compile
)
