. ../sukkolib.rc

BRIEF='G-code generator for 3D printers (Binary version)'
PROJECT=https://www.prusa3d.com/slic3r-prusa-edition/
TRELEASE=1.42.0-alpha7
RELEASE=1.42.0alpha7
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
BUILDDIR=Slic3r-version_$TRELEASE

SOURCE=(
	https://github.com/prusa3d/Slic3r/archive/version_$TRELEASE.tar.gz
)

CONFOPTS=(
	$DEFAULT_CONFOPTS_CMAKE
	-DSLIC3R_WX_STABLE'='1
	-DSLIC3R_FHS'='1
)

fn inst {
	std_inst

	# Icon
	sed s/@VERSION@/$RELEASE/ $CWD/slic3r-prusa-template.desktop > slic3r-prusa.desktop
	ln -s resources/icons/Slic3r.png slic3r-prusa.png
	insticon slic3r-prusa.desktop slic3r-prusa.png
}
