. ../sukkolib.rc

BRIEF='A tool for decompressing Amiga DMS files'
PROJECT=http://zakalwe.fi/~shd/foss/xdms/
RELEASE=1.3.2
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

SOURCE=(
	http://zakalwe.fi/~shd/foss/xdms/$NAME-$RELEASE.tar.bz2
)

fn configure {
	# Fix issues with newer GCCs (I guess)
	sed -i 's/^INLINE USHORT decode_c/USHORT decode_c/' src/u_heavy.c || exit $status
	sed -i 's/^INLINE USHORT decode_p/USHORT decode_p/' src/u_heavy.c || exit $status

	./configure --prefix'='/usr --package-prefix'='$PKG
	sed -i s:/usr/share:/usr:g Makefile || exit $status
}
