. ../sukkolib.rc

BRIEF='The low-level library for netfilter related kernel/userspace communication'
PROJECT=http://www.netfilter.org/projects/libnfnetlink/index.html
RELEASE=1.0.0
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

SOURCE=(
	http://www.netfilter.org/projects/libnfnetlink/files/$NAME-$RELEASE.tar.bz2
)
