. ../sukkolib.rc

BRIEF='The IDE with all the features you need, having a consistent look, feel and operation across platforms'
PROJECT=http://www.codeblocks.org
RELEASE=20.03
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

SOURCE=(
	$SF/$NAME/Sources/$RELEASE/$NAME-$RELEASE.tar.xz
)

PATCHES=(
	codeblocks-gcc11.patch
)

CONFOPTS=(
	$DEFAULT_CONFOPTS
	--with-contrib-plugins'='all
	--with-wx-config'='/usr/bin/wx-config-3
	--disable-static
)

fn configure {
	./bootstrap
	std_configure
}
