. ../sukkolib.rc

BRIEF='Raptor RDF Parser Library'
PROJECT=http://librdf.org/raptor/
RELEASE=1.4.21
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

SOURCE=(
	http://download.librdf.org/source/$NAME-$RELEASE.tar.gz
)
