. ../sukkolib.rc

BRIEF='Device Firmware Upgrade Utilities'
PROJECT=http://dfu-util.sourceforge.net
RELEASE=0.10
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

SOURCE=(
	http://dfu-util.sourceforge.net/releases/$NAME-$RELEASE.tar.gz
)

DOCS=(
	$DEFAULT_DOCS
	DEVICES.txt
)

fn inst {
	std_inst

	mkdir -p $PKG/lib/udev/rules.d
	cp doc/60-dfuse.rules $PKG/lib/udev/rules.d
}
