. ../sukkolib.rc

BRIEF='Extend SQLite to support fully fledged Spatial SQL capabilities'
PROJECT=https://www.gaia-gis.it/fossil/libspatialite/index
RELEASE=4.3.0a
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

SOURCE=(
	http://www.gaia-gis.it/gaia-sins/$NAME-$RELEASE.tar.gz
)
