. ../sukkolib.rc

BRIEF='Backport of functools.lru_cache from Python 3.3 as published at ActiveState'
PROJECT=https://github.com/jaraco/backports.functools_lru_cache
RELEASE=1.6.1
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
BUILDDIR=backports.functools_lru_cache-$RELEASE

SOURCE=(
	https://files.pythonhosted.org/packages/ad/2e/aa84668861c3de458c5bcbfb9813f0e26434e2232d3e294469e96efac884/backports.functools_lru_cache-$RELEASE.tar.gz
)
