. ../sukkolib.rc

BRIEF='The Versatile Commodore Emulator'
PROJECT=http://vice-emu.sourceforge.net/
RELEASE=3.7.1
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

SOURCE=(
	https://downloads.sourceforge.net/project/vice-emu/releases/$NAME-$RELEASE.tar.gz
)

CONFOPTS=(
	$DEFAULT_CONFOPTS
	--without-oss
	--with-sdlsound
	--with-libcurl
	--enable-ethernet
	--enable-cpuhistory
	--enable-lame
	--enable-midi
#	--enable-ffmpeg
	--enable-gtk3ui
)
