. ../sukkolib.rc

BRIEF='A simple tool for doing everyday things with PDF documents'
PROJECT=http://www.pdfhacks.com/pdftk/
RELEASE=2.02
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
NUMJOBS=1
BUILDDIR=$NAME-$RELEASE-dist

DOCS=(
	pdftk.1.html
	pdftk.1.notes
	pdftk.1.txt
)

SOURCE=(
	https://www.pdflabs.com/tools/pdftk-the-pdf-toolkit/$NAME-$RELEASE-src.zip
)

fn build {
	setup
	cd pdftk
	make -f Makefile.Slackware-13.1 -j $NUMJOBS
	mkdir -p $PKG/usr/bin
	cp pdftk $PKG/usr/bin
	cd ..
	std_docinst
}
