. ../sukkolib.rc

BRIEF='A library for extracting fingerprints from any audio source'
PROJECT=https://acoustid.org/chromaprint
RELEASE=1.4.3
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
BUILDDIR=$NAME-v$RELEASE

SOURCE=(
	https://github.com/acoustid/chromaprint/releases/download/v$RELEASE/$NAME-$RELEASE.tar.gz
)

CONFOPTS=(
	$DEFAULT_CONFOPTS_CMAKE
	-DCMAKE_BUILD_TYPE'='Release
	-DBUILD_TOOLS'='ON

	# Use FFmpeg
	-DFFT_LIB'='fftw3
)

# Guess library directory (shouldn't this be automatic?)
switch (`{arch}) {
        case *64
                CONFOPTS=($CONFOPTS -DLIB_SUFFIX'='64)
}

