. ../sukkolib.rc

BRIEF='CUE and TOC file parsers and utilities'
PROJECT=http://developer.berlios.de/projects/cuetools/
RELEASE=1.4.1
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
BUILDSYSTEM=autotools

SOURCE=(
	https://github.com/svend/cuetools/archive/$RELEASE.tar.gz
)

DOCS=(
	$DEFAULT_DOCS
	extras/cueconvert.cgi
	extras/formats.txt
	extras/index.txt
)

fn configure {
	autoreconf -sfi
	std_configure
}
