. ../sukkolib.rc

BRIEF='An advanced drum machine'
PROJECT=http://www.hydrogen-music.org
RELEASE=0.9.6beta3
TRELEASE=0.9.6-beta3
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
BUILDDIR=$NAME-$TRELEASE

SOURCE=(
	MYFETCH:$NAME-$TRELEASE.tar.gz
)

CONFOPTS=(
	$DEFAULT_CONFOPTS_CMAKE
	-DWANT_LRDF'='ON
)

PATCHES=(
	hydrogen-0.9.6-use_lrdf_pkgconfig.patch
)

DOCS=(
	$DEFAULT_DOCS
	DEVELOPERS
	INSTALL.txt
	README.txt
)

fn myfetch {
	wget https://github.com/hydrogen-music/$NAME/archive/$TRELEASE.tar.gz -O $NAME-$TRELEASE.tar.gz
}

fn inst {
	std_inst
	
	# Install icon
	mkdir -p $PKG/usr/share/pixmaps
	cp data/img/gray/h2-icon.svg $PKG/usr/share/pixmaps
}
