. ../sukkolib.rc

BRIEF='An advanced drum machine'
PROJECT=http://www.hydrogen-music.org
RELEASE=0.9.5
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

SOURCE=(
	MYFETCH:$NAME-$RELEASE.tar.gz
)

PATCHES=(
	hydrogen-0.9.5-use_lrdf_pkgconfig.patch
	hydrogen-0.9.5-gcc47.patch
	hydrogen-0.9.5-jack1995.patch
)

# The -I/usr/include/raptor2 gets lost in middle of build
# despite -use_lrdf_pkgconfig.patch
CFLAGS_LRDF=`{pkg-config --cflags lrdf}
CONFOPTS=(
	prefix'='/usr
	DESTDIR'='$PKG
	'optflags='$^CFLAGS_LRDF
	libarchive'='1
)

DOCS=(
	$DEFAULT_DOCS
	DEVELOPERS
	INSTALL.txt
	README.txt
)

fn myfetch {
	wget https://github.com/hydrogen-music/$NAME/archive/$RELEASE.tar.gz -O $NAME-$RELEASE.tar.gz
}

fn inst {
	# Install manually, sigh...
	mkdir $PKG/usr/bin
	cp hydrogen $PKG/usr/bin
	mkdir -p $PKG/usr/share/hydrogen
	cp -a data $PKG/usr/share/hydrogen/
	ln -s /usr/share/hydrogen/data/doc $DOC/html
	
	insticon hydrogen.desktop data/img/gray/h2-icon.svg
}
