. ../sukkolib.rc

BRIEF='An advanced drum machine'
PROJECT=http://www.hydrogen-music.org
RELEASE=0.9.7beta2
TRELEASE=0.9.7-beta2
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
BUILDDIR=$NAME-$TRELEASE

SOURCE=(
	https://github.com/hydrogen-music/hydrogen/archive/$TRELEASE.tar.gz
)

DOCS=(
	$DEFAULT_DOCS
	DEVELOPERS
	INSTALL.txt
	README.txt
)

fn inst {
	std_inst
	
	# Install icon
	mkdir -p $PKG/usr/share/pixmaps
	cp data/img/gray/h2-icon.svg $PKG/usr/share/pixmaps
}
