. ../sukkolib.rc

BRIEF='The schematic and 3D libraries supported by KiCad team'
PROJECT=https://kicad.github.io/symbols/
RELEASE=6.0.10
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
BUILDDIR=kicad-templates-$RELEASE

fn myfetch () {
        wget https://gitlab.com/kicad/libraries/kicad-templates/-/archive/$RELEASE/kicad-templates-$RELEASE.tar.bz2 -O $NAME-$RELEASE.tar.bz2
}

SOURCE=(
	MYFETCH:$NAME-$RELEASE.tar.bz2
)
