. ../sukkolib.rc

BRIEF='Flash and acquire data logs from Motorola P2k handsets'
PROJECT=http://flash-tools.jerryweb.org/
RELEASE=0.4.1
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

SOURCE=(
	http://dev.jerryweb.org/dist/$NAME-$RELEASE.tar.gz
)
