. ../sukkolib.rc

BRIEF='MATE Desktop Environment'
PROJECT=http://mate-desktop.org
RELEASE=1.20.0
BUILD=2suk_$SLCKVER
PACKAGER=slackware@sukkology.net

MAJORV=`{echo $RELEASE | sed 's:\.[0-9]$::'}
SOURCE=(
	http://pub.mate-desktop.org/releases/$MAJORV/$NAME-$RELEASE.tar.xz
)

CONFOPTS=(
	$DEFAULT_CONFOPTS
	--disable-schemas-compile
)

PATCHES=(
	87a376956154563d72192f74608b46622aaa753a.diff
	b1633846fb6242de40fe84e65db2ad2be1deea58.diff
)
