. ../sukkolib.rc

BRIEF='Open source graph visualization software'
PROJECT=https://graphviz.org/
RELEASE=2.50.0
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

SOURCE=(
	https://gitlab.com/api/v4/projects/4207231/packages/generic/graphviz-releases/$RELEASE/$NAME-$RELEASE.tar.xz
)

CONFOPTS=(
	$DEFAULT_CONFOPTS
	--disable-php
)
