. ../sukkolib.rc

BRIEF='A daemon based on GStreamer to setup your DVB devices'
PROJECT=http://live.gnome.org/DVBDaemon
RELEASE=0.1.20
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

SOURCE=(
	http://launchpad.net/gnome-dvb-daemon/trunk/$RELEASE/+download/$NAME-$RELEASE.tar.bz2
)
