. ../sukkolib.rc

BRIEF='A free audio editor'
PROJECT=http://audacityteam.org
RELEASE=2.2.0
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
BUILDDIR=$NAME-Audacity-$RELEASE

SOURCE=(
	https://github.com/audacity/audacity/archive/Audacity-$RELEASE.tar.gz
)

# Autodetection of libraries seems working great, so let's rely on it!
CONFOPTS=(
	$DEFAULT_CONFOPTS
	--with-wx-version'='3.0
)

fn docinst {
	std_docinst

	mv $PKG/usr/share/doc/audacity/* $DOC
	rm -rf $PKG/usr/share/doc
}
