. ../sukkolib.rc

BRIEF='A free audio editor'
PROJECT=http://audacity.sourceforge.net
RELEASE=2.0.5
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
BUILDDIR=$NAME-src-$RELEASE

SOURCE=(
	http://audacity.googlecode.com/files/$NAME-minsrc-$RELEASE.tar.xz
)

# Autodetection of libraries seems working great, so let's rely on it!

fn docinst {
	std_docinst

	mv $PKG/usr/share/doc/audacity/* $DOC
	rm -rf $PKG/usr/share/doc
}
