. ../sukkolib.rc

BRIEF='A free C++ class library of cryptographic schemes.'
PROJECT=http://www.cryptopp.com
RELEASE=8.2.0
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

TREL=`{echo $RELEASE | tr -d .}
SOURCE=(
	https://www.cryptopp.com/cryptopp$TREL.zip
)

DOCS=(
	$DEFAULT_DOCS
	License.txt
	Readme.txt
)

fn build {
	# The zip has no root directory, sigh
	cd $SRC
	mkdir $NAME-$RELEASE
	mv * $NAME-$RELEASE
	cd $NAME-$RELEASE

	make -j $NUMJOBS

	make install DESTDIR'='$PKG PREFIX'='/usr

	std_docinst
}
