. ../sukkolib.rc

BRIEF='An application to burn CD/DVD for the Gnome Desktop'
PROJECT=https://wiki.gnome.org/Apps/Brasero
RELEASE=3.12.2
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

MAJORV=`{echo $RELEASE | sed 's:\.[0-9]$::'}
SOURCE=(
	http://ftp.gnome.org/mirror/gnome.org/sources/$NAME/$MAJORV/$NAME-$RELEASE.tar.xz
)
