. ../sukkolib.rc

BRIEF='Python wrapper for the liblo OSC library'
PROJECT=http://das.nasophon.de/pyliblo/
RELEASE=0.10.0
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
BUILDDIR=pyliblo-$RELEASE

SOURCE=(
	http://das.nasophon.de/download/$BUILDDIR.tar.gz
)
