. ../sukkolib.rc

BRIEF='A mixed-level/mixed-signal circuit simulator'
PROJECT=http://ngspice.sourceforge.net/
RELEASE=27
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

SOURCE=(
	$SF/ngspice/ng-spice-rework/$RELEASE/$NAME-$RELEASE.tar.gz
)
