. ../sukkolib.rc

BRIEF='An implementation of XMP'
PROJECT=http://libopenraw.freedesktop.org/wiki/Exempi/
RELEASE=2.4.5
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

SOURCE=(
	http://libopenraw.freedesktop.org/download/$NAME-$RELEASE.tar.bz2
)
