. ../sukkolib.rc

BRIEF='A Free and Open Source Geographic Information System'
PROJECT=https://www.qgis.org
RELEASE=2.18.7
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

SOURCE=(
	http://qgis.org/downloads/$NAME-$RELEASE.tar.bz2
)

fn inst {
	std_inst

	ln -s images/icons/qgis_icon.svg qgis.svg
	insticon debian/qgis.desktop qgis.svg
}
