. ../sukkolib.rc

BRIEF='Python serial port access library'
PROJECT=https://github.com/pyserial/pyserial
RELEASE=3.4
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
TNAME=pyserial
BUILDDIR=$TNAME-$RELEASE

fn myfetch () {
	wget https://github.com/$TNAME/$TNAME/archive/v$RELEASE.tar.gz -O $NAME-$RELEASE.tar.gz
}

SOURCE=(
	MYFETCH:$NAME-$RELEASE.tar.gz
)
