. ../sukkolib.rc

BRIEF='GTK+ based simple text editor'
PROJECT=http://tarot.freeshell.org/leafpad/
RELEASE=0.8.17le2
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

SOURCE=(
	http://tarot.freeshell.org/$NAME/$NAME-$RELEASE.tar.bz2
)
