. ../sukkolib.rc

BRIEF='GNU PIC Utilities'
PROJECT=https://gputils.sourceforge.io/
RELEASE=1.5.2
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

SOURCE=(
	https://downloads.sourceforge.net/project/gputils/gputils/1.5.0/$NAME-$RELEASE.tar.gz
)
