. ../sukkolib.rc

BRIEF='A C library for reading and writing files containing sampled sound'
PROJECT=http://www.mega-nerd.com/libsndfile/
RELEASE=1.0.21
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

SOURCE=(
	http://www.mega-nerd.com/libsndfile/files/$NAME-$RELEASE.tar.gz
)

# Apply some patches kindly stolen from Gentoo, as usual
PATCHES=(
#	libsndfile-1.0.17-regtests-need-sqlite.patch
)

fn configure {
	# The above patching needs us to do this
#	autoreconf -sfi
	std_configure
}

fn docinst {
	std_docinst

	# Fix some doc
	mv $PKG/usr/share/doc/libsndfile1-dev/html $DOC
	rm -rf $PKG/usr/share/doc
}
