. ../sukkolib.rc

BRIEF='Drop-down terminal for GNOME'
PROJECT=https://github.com/Guake/guake
RELEASE=3.8.1
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
BUILDSYSTEM=autotools

SOURCE=(
	https://github.com/Guake/guake/archive/$RELEASE.tar.gz
)

fn configure {
}

fn compile {
	make
}

fn inst {
	make install DESTDIR'='$PKG/ PREFIX'='/usr/ COMPILE_SCHEMA'='0
}
## -----
## slackmatic build summary:
## build prog: slackmat-build 0.91
## build args: -W -C
## build date: 2020-08-02T08:59:57
## build host: shockwave.lan
## host uname: Linux 5.4.40 x86_64 Intel(R) Core(TM) i5-4258U CPU @ 2.40GHz
## -----
