. ../sukkolib.rc

BRIEF='Video plugin for the Mupen64Plus v2.0 project, based on the Glide64 plugin from Mupen64Plus 1.5'
PROJECT=https://github.com/mupen64plus/mupen64plus-video-glide64
RELEASE=2.5.9
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

fn myfetch () {
	wget https://github.com/mupen64plus/$NAME/archive/$RELEASE.tar.gz -O $NAME-$RELEASE.tar.gz
}

SOURCE=(
	MYFETCH:$NAME-$RELEASE.tar.gz
)

DOCS=(
	INSTALL
	LICENSES
	RELEASE
)

fn build {
	setup

	# Do docs before we change directory
	std_docinst

	cd projects/unix
	make -j $NUMJOBS all
	make install PREFIX'='/usr DESTDIR'='$PKG
}
