. ../sukkolib.rc

BRIEF='Component footprints for KiCad'
PROJECT=https://github.com/KiCad/kicad-library
RELEASE=6.0.7
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
OPT_NOSTRIP=1
BUILDDIR=kicad-footprints-$RELEASE-cb374ed567a148b8e53b3f89918a2f4ba38dd93f

fn myfetch () {
        wget https://gitlab.com/kicad/libraries/kicad-footprints/-/archive/$RELEASE/$RELEASE.tar.bz2 -O $NAME-$RELEASE.tar.bz2
}

SOURCE=(
	MYFETCH:$NAME-$RELEASE.tar.bz2
)

DOCS=(
	$DEFAULT_DOCS
	CONTRIBUTING.md
	LICENSE.md
	README.md
	TODO.md
)
