. ../sukkolib.rc

BRIEF='A tool for creating Commodore 1541 Floppy disk images in D64, D71 or D81 format'
PROJECT=https://bitbucket.org/ptv_claus/cc1541/src/master/
RELEASE=4.1
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

SOURCE=(
	https://bitbucket.org/ptv_claus/cc1541/downloads/$NAME-$RELEASE.zip
)
