. ../sukkolib.rc

BRIEF='Scanning tool to ensure you for about 99.9%* you''re clean of nasty tools'
PROJECT=http://www.rootkit.nl/projects/rootkit_hunter.html
RELEASE=1.3.6
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

SOURCE=(
	$SF/$NAME/$NAME-$RELEASE.tar.gz
)

fn build {
	setup

	# Install
	TGZ_BUILD_ROOT=$PKG
	./installer.sh --layout TGZ --striproot $PKG --install
	mv $PKG/usr/bin $PKG/usr/sbin

	# Cron job (Gentoo's, hope it works fine)
	mkdir -p $PKG/etc/cron.daily
	cp $CWD/rkhunter.cron $PKG/etc/cron.daily/rkhunter
	chmod 755 $PKG/etc/cron.daily/rkhunter

	# Install docs
	std_docinst
	mv $PKG/usr/share/man $PKG/usr
	mv $PKG/usr/share/doc/$NAME-$RELEASE/* $DOC
	rm -rf $PKG/usr/share
}
