. ../sukkolib.rc

BRIEF='Digital Audio Workstation'
PROJECT=http://ardour.org
RELEASE=3.4
BUILD=2suk_$SLCKVER
PACKAGER=slackware@sukkology.net
BUILDDIR=Ardour3-$RELEASE

SOURCE=(
	# WARNING: You will have to download this manually!
	# http://releases.ardour.org/$NAME-$RELEASE.tar.bz2
	http://x/$NAME-$RELEASE.tar.bz2
)

DOCS=(
	$DEFAULT_DOCS
	3.3-notes
	3.3-notes.html
	3.4-notes
	TRANSLATORS
)

CONFOPTS=(
	$DEFAULT_CONFOPTS_WAF
	--configdir'='/etc
	--no-phone-home
	--freedesktop
	--optimize
)

fn inst {
	std_inst

	# Man pages
	mkdir -p $PKG/usr/man/man1
	cp ardour.1 $PKG/usr/man/man1
	mkdir -p $PKG/usr/man/es/man1
	cp ardour.1.es $PKG/usr/man/es/man1/ardour.1
	mkdir -p $PKG/usr/man/fr/man1
	cp ardour.1.fr $PKG/usr/man/fr/man1/ardour.1
	mkdir -p $PKG/usr/man/ru/man1
	cp ardour.1.ru $PKG/usr/man/ru/man1/ardour.1

	# Desktop icon and entry
	mkdir -p $PKG/usr/share/pixmaps
	cp icons/icon/ardour_icon_mac.png $PKG/usr/share/pixmaps/ardour3.png
	mkdir -p $PKG/usr/share/applications
	cp gtk2_ardour/ardour3.desktop.in $PKG/usr/share/applications/ardour3.desktop
}
