. ../sukkolib.rc

BRIEF='Digital Audio Workstation'
PROJECT=http://ardour.org
RELEASE=4.7.0
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
TNAME=Ardour
BUILDDIR=$TNAME-$RELEASE

# Need C++11
CXXFLAGS=$CXXFLAGS '-std=c++11'

SOURCE=(
	# WARNING: You will have to download this manually!
	# http://releases.ardour.org/$NAME-$RELEASE.tar.bz2
	http://x/$TNAME-$RELEASE.tar.bz2
)

DOCS=(
	$DEFAULT_DOCS
	TRANSLATORS
)

CONFOPTS=(
	$DEFAULT_CONFOPTS_WAF
	--configdir'='/etc
	--no-phone-home
	--freedesktop
	--optimize
	--with-backends'='alsa,jack
	--cxx11
)

fn inst {
	std_inst

	# Man pages
	mkdir -p $PKG/usr/man/man1
	cp ardour.1 $PKG/usr/man/man1
	mkdir -p $PKG/usr/man/es/man1
	cp ardour.1.es $PKG/usr/man/es/man1/ardour.1
	mkdir -p $PKG/usr/man/fr/man1
	cp ardour.1.fr $PKG/usr/man/fr/man1/ardour.1
	mkdir -p $PKG/usr/man/ru/man1
	cp ardour.1.ru $PKG/usr/man/ru/man1/ardour.1

	# Desktop icon and entry
	mkdir -p $PKG/usr/share/pixmaps
	cp icons/icon/ardour_icon_mac.png $PKG/usr/share/pixmaps/ardour4.png
	mkdir -p $PKG/usr/share/applications
	cp build/gtk2_ardour/ardour4.desktop $PKG/usr/share/applications/ardour4.desktop
}
