. ../sukkolib.rc

BRIEF='A platform-independent Perl library plus a command-line application for reading, writing and editing image meta information'
PROJECT=http://www.sno.phy.queensu.ca/~phil/exiftool/
RELEASE=10.20
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
TNAME=Image-ExifTool
BUILDDIR=$TNAME-$RELEASE
BUILDSYSTEM=autotools

SOURCE=(
	http://www.sno.phy.queensu.ca/~phil/exiftool/$TNAME-$RELEASE.tar.gz
)

fn configure {
	perl Makefile.PL PREFIX'='/usr
}

fn docinst {
	std_docinst
	mv $PKG/usr/share/man $PKG/usr
}
