. ../sukkolib.rc

BRIEF='Command-line utilities to encode, inspect and decode Opus files'
PROJECT=http://www.opus-codec.org
RELEASE=0.1.9
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

SOURCE=(
	https://ftp.mozilla.org/pub/mozilla.org/opus/$NAME-$RELEASE.tar.gz
)
