. ../sukkolib.rc

BRIEF='An image format that does lossy compression of digital photos'
PROJECT=https://developers.google.com/speed/webp/
RELEASE=0.4.1
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

SOURCE=(
	http://downloads.webmproject.org/releases/webp/$NAME-$RELEASE.tar.gz
)

CONFOPTS=(
	$DEFAULT_CONFOPTS
	--enable-libwebpmux
	--enable-libwebpdemux
	--enable-libwebpdecoder
)
