. ../sukkolib.rc

BRIEF='A real-time software synthesizer based on the SoundFont 2 specifications'
PROJECT=http://sourceforge.net/apps/trac/fluidsynth/
RELEASE=1.1.1
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

SOURCE=(
	$SF/$NAME/$NAME-$RELEASE.tar.gz
)
