. ../sukkolib.rc

BRIEF='The free FTP solution'
PROJECT=http://filezilla-project.org
RELEASE=3.9.0.5
BUILD=2suk_$SLCKVER
PACKAGER=slackware@sukkology.net

SOURCE=(
	$SF/$NAME/'FileZilla_'$RELEASE'_src.tar.bz2'
)

CONFOPTS=(
	$DEFAULT_CONFOPTS
	--with-tinyxml'='builtin
	--with-wx-config'='/usr/bin/wx-config-3
)

fn configure {
	mkdir BUILD
	cd BUILD
	../configure $CONFOPTS
}

fn docinst {
	cd ..
	std_docinst
}
