. ../sukkolib.rc

BRIEF='The free FTP solution'
PROJECT=http://filezilla-project.org
RELEASE=3.52.2
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
H=JArQTgGNBR9Yg57ZNomWHg
X=1611273396

SOURCE=(
        MYFETCH:$NAME-$RELEASE.tar.bz2
)

fn myfetch () {
        wget https://dl3.cdn.filezilla-project.org/client/'FileZilla_'$RELEASE'_src.tar.bz2?h='$H'&x='$X -O $NAME-$RELEASE.tar.bz2
}


CONFOPTS=(
	$DEFAULT_CONFOPTS
	--with-pugixml'='builtin
	--disable-manualupdatecheck
	--with-wx-config'='/usr/bin/wx-config-3
)

fn configure {
	mkdir BUILD
	cd BUILD
	../configure $CONFOPTS
}

fn docinst {
	cd ..
	std_docinst
}
