. ../sukkolib.rc

BRIEF='A visual diff and merge tool'
PROJECT=http://meldmerge.org
RELEASE=3.21.0
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

MAJORV=`{echo $RELEASE | sed 's:\.[0-9]$::'}
SOURCE=(
	http://ftp.gnome.org/pub/GNOME/sources/meld/$MAJORV/$NAME-$RELEASE.tar.xz
)

DOCS=(
	$DEFAULT_DOCS
	MAINTAINERS
)

fn compile {
        python3 setup.py build || exit 101
}

fn inst {
        python3 setup.py install --root $PKG || exit 102
	mv $PKG/usr/share/man $PKG/usr
}
