. ../sukkolib.rc

BRIEF='A visual diff and merge tool'
PROJECT=http://meld.sourceforge.net
RELEASE=1.6.1
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

MAJORV=`{echo $RELEASE | sed 's:\.[0-9]$::'}
SOURCE=(
	http://ftp.gnome.org/pub/GNOME/sources/meld/$MAJORV/$NAME-$RELEASE.tar.xz
)

DOCS=(
	$DEFAULT_DOCS
	MAINTAINERS
)

fn build {
	setup

	make install prefix'='/usr DESTDIR'='$PKG
	std_docinst
}
