. ../sukkolib.rc

BRIEF='A powerful, fast and robust engine for processing 3D models into 3D printing instructions'
PROJECT=https://github.com/Ultimaker/CuraEngine
RELEASE=3.6.0
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
BUILDDIR=CuraEngine-$RELEASE

SOURCE=(
	https://github.com/Ultimaker/CuraEngine/archive/$RELEASE.tar.gz
)

DOCS=(
	$DEFAULT_DOCS
	Changelog.md
	docs/glossary.md
	docs/mainpage.md
)
