. ../sukkolib.rc

BRIEF='GNOME platform port of the WebKit rendering engine'
PROJECT=http://webkitgtk.org
RELEASE=2.18.6
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
MAKEJOBS=1

SOURCE=(
	http://webkitgtk.org/releases/$NAME-$RELEASE.tar.xz
)

CONFOPTS=(
	$DEFAULT_CONFOPTS_CMAKE
	-DCMAKE_BUILD_TYPE'='Release
	-DPORT'='GTK
)
