. ../sukkolib.rc

BRIEF='GNOME platform port of the WebKit rendering engine'
PROJECT=http://webkitgtk.org
RELEASE=2.3.5
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
BUILDSYSTEM=autotools
MAKEJOBS=1

SOURCE=(
	http://webkitgtk.org/releases/$NAME-$RELEASE.tar.xz
)

CONFOPTS=(
        --prefix'='/usr
        --libdir'='$LIBDIR
        --sysconfdir'='/etc
        --localstatedir'='/var
        --mandir'='/usr/man

	# Until we get gstreamer 1.0
	--disable-video
	--disable-web-audio
)
