. ../sukkolib.rc

BRIEF='GNOME platform port of the WebKit rendering engine'
PROJECT=http://webkitgtk.org
RELEASE=2.36.6
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

SOURCE=(
	http://webkitgtk.org/releases/$NAME-$RELEASE.tar.xz
)

CONFOPTS=(
	$DEFAULT_CONFOPTS_CMAKE
	-DCMAKE_BUILD_TYPE'='Release
	-DPORT'='GTK
	-DUSE_WPE_RENDERER'='OFF
	-DENABLE_GAMEPAD'='OFF
	-DENABLE_JOURNALD_LOG'='OFF
	-DENABLE_BUBBLEWRAP_SANDBOX'='OFF
	-DENABLE_MINIBROWSER'='ON
)
