. ../sukkolib.rc

BRIEF='Python bindings for the Qt cross platform application toolkit'
PROJECT=https://www.riverbankcomputing.com/software/pyqt/
RELEASE=5.15.2
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
BUILDDIR=PyQt5-$RELEASE
BUILDSYSTEM=autotools

SOURCE=(
	https://files.pythonhosted.org/packages/28/6c/640e3f5c734c296a7193079a86842a789edb7988dca39eab44579088a1d1/PyQt5-$RELEASE.tar.gz
)

fn configure {
	python configure.py --qmake'='/usr/bin/qmake-qt5 || exit 100
}

fn inst {
	make install INSTALL_ROOT'='$PKG || exit 102
}
