. ../sukkolib.rc

BRIEF='A fast and lightweight picture-viewer for Xfce'
PROJECT=http://goodies.xfce.org/projects/applications/ristretto
RELEASE=0.6.3
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

SOURCE=(
	http://archive.xfce.org/src/apps/ristretto/0.6/$NAME-$RELEASE.tar.bz2
)
