. ../sukkolib.rc

BRIEF='Cross-platform GUI library'
PROJECT=http://www.wxwidgets.org
RELEASE=2.8.12
BUILD=4suk_$SLCKVER
PACKAGER=slackware@sukkology.net
BUILDDIR=wxGTK-$RELEASE

SOURCE=(
	$SF/wxwindows/wxGTK-$RELEASE.tar.bz2
)

CONFOPTS=(
	$DEFAULT_CONFOPTS
	--enable-no_deps
	--enable-compat24
	--with-sdl 
	--with-opengl
	--enable-unicode
	--disable-universal
)

DOCS=(
	$DEFAULT_DOCS
	*.txt
)

fn configure {
	# Workaround for newer versions of GCC
	for (xbm in `{find src/gtk -name *.xbm}) {
		sed -i 's/0x\([0-9a-fA-F][0-9a-fA-F]\)/(char) 0x\1/g' $xbm || exit $status
	}

	std_configure
}
