. ../sukkolib.rc

BRIEF='Convert longitude and latitude coordinates into cartesian coordinates'
PROJECT=http://proj4.org
RELEASE=4.9.3
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

SOURCE=(
	http://download.osgeo.org/proj/$NAME-$RELEASE.tar.gz
)
