. ../sukkolib.rc

BRIEF='A C++ mathematics library for graphics programming'
PROJECT=http://glm.g-truc.net
RELEASE=0.9.7.6
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

SOURCE=(
	https://github.com/g-truc/glm/archive/$RELEASE.tar.gz
)
