. ../sukkolib.rc

BRIEF='KiCad 3D model libraries for rendering and MCAD integration'
PROJECT=https://github.com/KiCad/kicad-packages3D
RELEASE=5.1.5
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
BUILDDIR=kicad-packages3D-$RELEASE

SOURCE=(
	https://github.com/KiCad/$NAME/archive/$RELEASE.tar.gz
)
