. ../sukkolib.rc

BRIEF='A library for constructing graphs of media-handling components'
PROJECT=http://gstreamer.freedesktop.org/
RELEASE=1.6.3
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
TNAME=gst-plugins-bad
BUILDDIR=$TNAME-$RELEASE

SOURCE=(
	http://gstreamer.freedesktop.org/src/$TNAME/$TNAME-$RELEASE.tar.xz
)

CONFOPTS=(
	$DEFAULT_CONFOPTS
	--enable-introspection'='yes
#	--with-package-name="\"Dropline Gnome GStreamer Base Plugins ${VERSION}"\"
#	--with-package-origin="\"http://www.droplinegnome.org"\"
)
