. ../sukkolib.rc

BRIEF='A light GUI editor for SQLite databases'
PROJECT=https://sqlitebrowser.org
RELEASE=3.12.1
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

SOURCE=(
	https://github.com/sqlitebrowser/sqlitebrowser/archive/v$RELEASE.tar.gz
)

DOCS=(
	$DEFAULT_DOCS
	LICENSE-PLUGINS
)
