. ../sukkolib.rc

BRIEF='A Fast, Easy, and Free BitTorrent Client'
PROJECT=http://www.transmissionbt.com
RELEASE=2.84
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

SOURCE=(
	http://mirrors.m0k.org/transmission/files/$NAME-$RELEASE.tar.xz
)

CONFOPTS=(
	$DEFAULT_CONFOPTS
	--enable-gtk
	--enable-libnotify
	--enable-libappindicator
	--enable-libcanberra
	--enable-gconf2
	--enable-nls 
	--enable-cli
	--enable-daemon
)
