. ../sukkolib.rc

BRIEF='A Fast, Easy, and Free BitTorrent Client'
PROJECT=http://www.transmissionbt.com
RELEASE=4.0.6
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

SOURCE=(
	https://github.com/transmission/transmission/releases/download/$RELEASE/$NAME-$RELEASE.tar.xz
)

PATCHES=(
	miniupnpc-2.2.8.patch
)

CONFOPTS=(
	$DEFAULT_CONFOPTS_CMAKE
	-DENABLE_GTK'='ON
	-DENABLE_QT'='ON
	-DENABLE_CLI'='ON
	-DUSE_SYSTEM_MINIUPNPC'='ON
)

fn inst {
	std_inst

	mv $PKG/usr/share/man $PKG/usr || exit $status
}
