. ../sukkolib.rc

BRIEF='A Fast, Easy, and Free BitTorrent Client'
PROJECT=http://www.transmissionbt.com
RELEASE=2.94
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
BUILDSYSTEM=autotools

SOURCE=(
	https://github.com/transmission/transmission-releases/raw/master/$NAME-$RELEASE.tar.xz
)

CONFOPTS=(
	$DEFAULT_CONFOPTS
	--enable-gtk
	--enable-libnotify
	--enable-libappindicator
	--enable-libcanberra
	--enable-gconf2
	--enable-nls 
	--enable-cli
	--enable-daemon
)
