. ../sukkolib.rc

BRIEF='A minimal, cross-platform shared library intended to take care of the OS-specific details when using serial ports'
PROJECT=https://sigrok.org/wiki/Libserialport
RELEASE=0.1.2
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

SOURCE=(
	http://sigrok.org/download/source/$NAME/$NAME-$RELEASE.tar.gz
)
