. ../sukkolib.rc

BRIEF='A professional vector graphics editor'
PROJECT=https://inkscape.org
RELEASE=0.92.5
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
#BUILDSYSTEM=autotools

SOURCE=(
	https://inkscape.org/gallery/item/18051/$NAME-$RELEASE.tar.bz2
)

CONFOPTS=(
	$DEFAULT_CONFOPTS_CMAKE
	-DWITH_DBUS'='ON
	-DWITH_IMAGE_MAGICK'='OFF		# Slack-curr has 7, inkscape wants 6
)

fn inst {
	std_inst
	mv $PKG/usr/share/man $PKG/usr
}
