. ../sukkolib.rc

BRIEF='A professional vector graphics editor'
PROJECT=https://inkscape.org
RELEASE=1.4
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
#BUILDSYSTEM=autotools
BUILDDIR=$NAME-$RELEASE'_2024-10-09_e7c3feb100'

SOURCE=(
	https://inkscape.org/gallery/item/53679/$NAME-$RELEASE.tar.xz
)

PATCHES=(
	inkscape-1.4-poppler-24.10.patch
	inkscape-1.4-poppler-24.11.patch
	getImageParams.patch
)

CONFOPTS=(
	$DEFAULT_CONFOPTS_CMAKE
	-DWITH_DBUS'='ON
	-DWITH_IMAGE_MAGICK'='ON
)

fn inst {
	std_inst
	mv $PKG/usr/share/man $PKG/usr
}

