. ../sukkolib.rc

BRIEF='Create and extract archive files using file context menus in Thunar'
PROJECT=http://www.foo-projects.org/~benny/projects/thunar-archive-plugin/
RELEASE=0.3.0
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

SOURCE=(
	# Newer releases seem to be here
	http://git.xfce.org/thunar-plugins/thunar-archive-plugin/snapshot/$NAME-$RELEASE.tar.bz2

	# Old
	#http://download.berlios.de/xfce-goodies/$NAME-$RELEASE.tar.gz
)

fn configure () {
	./autogen.sh
	std_configure
}
