. ../sukkolib.rc

BRIEF='A library for constructing graphs of media-handling components'
PROJECT=http://gstreamer.freedesktop.org/
RELEASE=1.6.2
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
TNAME=gst-plugins-good
BUILDDIR=$TNAME-$RELEASE

SOURCE=(
	http://gstreamer.freedesktop.org/src/$TNAME/$TNAME-$RELEASE.tar.xz
)

CONFOPTS=(
	$DEFAULT_CONFOPTS
	--enable-introspection'='yes
)
