. ../sukkolib.rc

BRIEF='A GTK application for controlling the CDEmu daemon'
PROJECT=https://cdemu.sourceforge.io/about/gcdemu/
RELEASE=3.2.6
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

SOURCE=(
	http://downloads.sourceforge.net/cdemu/$NAME-$RELEASE.tar.xz
)
