. ../sukkolib.rc

BRIEF='A lightweight RDF library with special support for LADSPA plugins'
PROJECT=http://sourceforge.net/projects/lrdf/
RELEASE=0.4.0
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

SOURCE=(
	$SF/lrdf/$NAME-$RELEASE.tar.gz
)
