. ../sukkolib.rc

BRIEF='Alternative regular expression module, to replace re'
PROJECT=https://pypi.org/project/regex/
RELEASE=2018.11.22
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
BUILDDIR=regex-$RELEASE

SOURCE=(
	https://files.pythonhosted.org/packages/16/07/ee3e02770ed456a088b90da7c9b1e9aa227e3c956d37b845cef2aab93764/regex-$RELEASE.tar.gz
)
