. ../sukkolib.rc

BRIEF='A library to play Commodore 64 music'
PROJECT=https://github.com/libsidplayfp/libsidplayfp
RELEASE=2.3.1
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

SOURCE=(
	https://github.com/libsidplayfp/libsidplayfp/releases/download/v$RELEASE/$NAME-$RELEASE.tar.gz
)
