. ../sukkolib.rc

BRIEF='A library that makes it easier to access RESTful web services'
PROJECT=https://developer.gnome.org/rest/
RELEASE=0.7.93
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

MAJORV=`{echo $RELEASE | sed 's:\.[0-9]*$::'}
SOURCE=(
	http://ftp.gnome.org/pub/GNOME/sources/rest/$MAJORV/$NAME-$RELEASE.tar.xz
)
