. ../sukkolib.rc

BRIEF='Building blocks for modern GNOME applications'
PROJECT=https://gitlab.gnome.org/GNOME/libadwaita
RELEASE=1.2.3
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

SOURCE=(
	https://gitlab.gnome.org/GNOME/libadwaita/-/archive/$RELEASE/$NAME-$RELEASE.tar.bz2
)
