. ../sukkolib.rc

BRIEF='IstvanV''s great Commodore +4 emulator'
PROJECT=https://github.com/istvan-v/plus4emu
RELEASE=`{date +%Y%m%d}
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

fn myfetch () {
        git clone https://github.com/istvan-v/plus4emu.git $NAME-$RELEASE
        tar Jcvf $NAME-$RELEASE.tar.xz $NAME-$RELEASE
}

SOURCE=(
	MYFETCH:$NAME-$RELEASE.tar.xz
)

fn configure {
	# Dirty hack to fix SConstruct file
	sed -i '90 s/\(^\s*\).*$/\1pass/' SConstruct || exit $status
}

fn inst {
	mkdir $PKG/usr/bin
	cp p4* plus4emu $PKG/usr/bin
}

fn docinst {
	std_docinst

	# Well, put ROMs somewhere, emulator doesn't seem to look them up in any global directory so users can find them somewhere at least
	cp roms/*.rom $DOC
}
