. ../sukkolib.rc

BRIEF='A Free Software replacement for the Unix LHA tool'
PROJECT=https://fragglet.github.io/lhasa/
RELEASE=0.3.1
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

SOURCE=(
	https://soulsphere.org/projects/lhasa/$NAME-$RELEASE.tar.gz
)
