. ../sukkolib.rc

BRIEF='A high quality software library for audio time-stretching and pitch-shifting'
PROJECT=http://breakfastquay.com/rubberband/
RELEASE=1.8.1
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

SOURCE=(
	http://code.breakfastquay.com/attachments/download/34/$NAME-$RELEASE.tar.bz2
)

fn inst {
	make \
		INSTALL_BINDIR'='$PKG/usr/bin \
		INSTALL_INCDIR'='$PKG/usr/include/rubberband \
		INSTALL_LIBDIR'='$PKG/$LIBDIR \
		INSTALL_VAMPDIR'='$PKG/$LIBDIR/vamp \
		INSTALL_LADSPADIR'='$PKG/$LIBDIR/ladspa \
		INSTALL_LRDFDIR'='$PKG/usr/share/ladspa/rdf \
		INSTALL_PKGDIR'='$PKG/$LIBDIR/pkgconfig \
		install
}
