. ../sukkolib.rc

BRIEF='Hook and simulate keyboard events on Windows and Linux'
PROJECT=https://pypi.org/project/keyboard/
RELEASE=0.13.5
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net
TNAME=keyboard
BUILDDIR=$TNAME-$RELEASE

fn myfetch () {
	wget https://github.com/boppreh/keyboard/archive/refs/tags/v$RELEASE.tar.gz -O $NAME-$RELEASE.tar.gz
}

SOURCE=(
	MYFETCH:$NAME-$RELEASE.tar.gz
)

fn compile {
        python3 setup.py build || exit 101
}

fn inst {
        python3 setup.py install --root $PKG || exit 102
}

