. ../sukkolib.rc

BRIEF='A GUI utility to split mp3, ogg vorbis and FLAC files'
PROJECT=http://mp3splt.sourceforge.net
RELEASE=0.9.2
BUILD=1suk_$SLCKVER
PACKAGER=slackware@sukkology.net

SOURCE=(
	http://prdownloads.sourceforge.net/mp3splt/$NAME-$RELEASE.tar.gz
)

CONFOPTS=(
	$DEFAULT_CONFOPTS
	--disable-audacious
	--disable-scrollkeeper
	--disable-gnome
)
